<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="login-er">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .form {
        background-color: lightblue;
        /* Sólo para centrar el formulario a la página */
        margin: 0 auto;
        width: 400px;
        /* Para ver el borde del formulario */
        padding: 1em;
        border: 5px solid #CCC;
        border-radius: 1em;
      }
    </style>
    
    <div class="form">
      <paper-input id="nombre" label="Usuario" value="{{nombre::input}}"></paper-input>
      <paper-input id="pass" type="password" label="Contraseña" value="{{pass::input}}"></paper-input>
      <button  on-click="validar" value="Enviar">Enviar</button> 
    </div>
  </template>
  <script>
    /**
     * `login-er`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginEr extends Polymer.Element {
      static get is() { return 'login-er'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Inicia sesión   '
          },
          nombre: {
            type: String

          },
           pass:{
            type: String
          },
          correcto2 : {
            type: Boolean,
            notify: true
          }
        };
      }

      validar ()  {
        if ( this.nombre == "er" && this.pass == "emer" ) {
          alert ("correcto")
          this.set("correcto2", true) 
        }else {
         return alert("Todos los campos son requeridos");
         this.set("correcto2", false)
        }
      }   
    }


    window.customElements.define(LoginEr.is, LoginEr);
  </script>

</dom-module>