<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-er">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `login-er`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginEr extends Polymer.Element {
      static get is() { return 'login-er'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-er'
          }
        };
      }
    }

    window.customElements.define(LoginEr.is, LoginEr);
  </script>
</dom-module>
