<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="login-er">
  <template>
    <style>
      :host {
        display: block;
      }

      
    </style>
    <form>
      <paper-input id="nombre" label="Usuario" value="{{nombre::input}}"></paper-input>
      <paper-input id="pass" type="password" label="Contraseña" value="{{pass::input}}"></paper-input>
      <input type="submit" class="boton" name="Enviar" on-click="validar" value="Enviar"   ></input>
    </form>
  </template>
  <script>
    /**
     * `login-er`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginEr extends Polymer.Element {
      static get is() { return 'login-er'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Inicia sesión   '
          },
          nombre: {
            type: String

          },
           pass:{
            type: String
          }
        };
      }

      validar ()  {
        if ( this.nombre === "ernesto" || this. pass === "emer2713." ) {
          return alert("Correcto");
          
        
        }else {
         return alert("Todos los campos son requeridos");
        }
      }   
    }


    window.customElements.define(LoginEr.is, LoginEr);
  </script>

</dom-module>
